@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/*------------------------- Beginning of Header Section ----------------- */

header {
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 74px;
    border: 1px solid white;

}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 998px;
    height: 582px;
    margin: 20px auto 44px;
    /* border: 1px solid red; */
}
.header-container img {
    width: 240.28px;
    height: 240px;
    margin-bottom: 32px;
}
.header-container h3 {
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    /* border: 1px solid red; */
}
.header-container p {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}
.btn-primary {
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
}
.btn-secondary {
    color:  rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px;
    background: rgb(255, 255, 255);
    border: none;
    border: 1px solid black;
}

/*------------------------- END of Header Section ----------------- */

a{
    text-decoration: none;
    color: black;
}

.inspiration {
    width: 1140px;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    /* border: 1px solid red; */
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.section-title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.section-info {
    width: 852px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px auto 48px;
    opacity: 0.7;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 32px
}
.card {
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 0px auto;
    padding: 48px;
}
.card-1 {
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    gap: 99px;
}
.card-1 h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.card-1 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 32px;
}
.card-2 {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.video-block {
    margin-top: 88px;
}
.yt-video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 614px;
    margin: 0px auto;
}
iframe {
    border-radius: 16px;
    margin: 32px;
}
.current-goal {
    margin: 149px auto 111px;
}

.skill-card {
    width: 1140px;
    display: flex;
    gap: 24px;
    flex-direction: row;
    margin: 0px auto;
}
.skill {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    width: 364px;
    /* height: 300px; */
    padding: 40px;
}
.skill h3 {
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.skill p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 8px;
    margin-bottom: 24px;
}
.learn-more {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.css-1 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.js-1{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.support {
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 313px;
    margin: 0px auto 80px;
    box-shadow: 0px 0px 4px 0px #00000040,inset 0 0 0 1000px rgba(0,0,0,.5);
}
.support-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px auto;
}
.support-container h3 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.support-container p {
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    width: 730px;
    opacity: 0.7;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    opacity: 0.7;
}

input[type="text"] {
    width: 528px;
    height: 57px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    margin-right: 16px;
}
input[type="submit"] {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px;
    border: none;
    height: 57px;
}

footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    height: 98px;
    border: 1px solid rgba(13, 19, 33, 0.03);
}
.footer-container {
    display: flex;
    flex-direction: row;
    margin: 32px 150px;
    align-items: center;
    justify-content: space-between;
}
.icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}